{:company/legal-name "Adecco Group AG"
 :company/lei "NI14Y5UMU60O7JE9P611"
 :company/jurisdiction "CH"
 :company/website "https://www.adeccogroup.com"
 :company/ticker "ADEN (SIX Swiss Exchange)"
 :company/inquiry-form-url "https://www.adeccogroup.com/contact"}
